<section class="relative">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-3xl font-mono text-center font-bold text-[#121212]">Let's Start With <span class="text-gray-500">Akalny</span></h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="col-span-2 w-full">
            <app-form-field
            [controlName]="loginForm.get('email')"
            [label]="'User Email'"
            [type]="'email'"
            [placeholder]="'User Email'"
            [touched]="loginForm.get('email')?.touched"
            [required]="loginForm.get('email')?.hasError('required')"
            [email]="loginForm.get('email')?.hasError('email')"
            />
            </div>
            <div class="col-span-2 w-full">
            <app-form-field
            [controlName]="loginForm.get('password')!"
            [label]="'User Password'"
            [type]="'password'"
            [placeholder]="'User Password'"
            [touched]="loginForm.get('password')?.touched"
            [minLen]="loginForm.get('password')?.hasError('minlength')"
            [required]="loginForm.get('password')?.hasError('required')"
            />
            </div>

          </div>
          <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-gray-700 rounded-lg focus:ring-4 focus:ring-primary-200">
              Login
          </button>
      </form>
  </div>
  <div class="fixed top-2 right-4 z-50" [ngClass]="showToast ? '' : 'hidden'">
    <app-toast [type]="'succeess'"/>
  </div>
</section>

